:root{
    --primary-color: rgba(255,255,255,0.8);
    --secondary-color:rgba(0,0,0,.8);
    --tertiary-color:rgb(176, 179, 171,0.8);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    color: var(--secondary-color);
    font-family:Arial, Helvetica, sans-serif;
}
header{
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top:0;
    background-color: var(--secondary-color);
    background-size: cover;
    background-attachment: fixed;
    background-position:80%;
    align-items: center;
}
header h1{
    font-size: 1.5em;
    color: var(--primary-color);
    margin: 10px;;
    text-shadow: 0 0 10px rgba(0,0,0,.5);
}
header div img{
    max-width: 10%;
    mask-image: url(circle.svg);
    
}
header div h1{
    padding: 10px;
    align-items: center;
}
header a {
    text-decoration: none;
    color: var(--primary-color);
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a{
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.5em;
    text-shadow: 0 0 10px rgba(0,0,0,rgba(0,0,0,.5));
}

header nav ul li a:hover{
    background:var(--tertiary-color);
    color: var(--primary-color);
    border-radius: 15px;
    text-shadow: none;
}
.intro{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.link{
    text-decoration: none;
}
footer{
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}
footer h2{
    color:var(--secondary-color);
    font-size: 20px;
    margin: 0;
}

footer div{
    line-height: 1.5;
    border-right: 1px solid;
}
section{
    padding: 2.5vw 0;
}
.about{
    display: flex;
}
.side{

   flex:1 12%;
   border-right: solid 1px var(--tertiary-color)
}
.about p{
    flex: 2 70%;
    padding: 0 30px ;
    line-height: 1.2;
}

.section-title {
    font-size: 20px;
    text-align: center;
    margin: 0 auto 35 auto;
}
.my-work-section{
    display: flex;
}
.works {
    flex: 2 70%;
    padding: 0 30px ;
    line-height: 1.2;
}

.work-layout{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
}
.first-works{
    flex-grow:2;
}
.not-first-works{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex:1;
}

.work{
    border: 1px solid var(--tertiary-color);
    border-radius: 15px;
    flex:1 2 50%;
    justify-content: space-between;
    position: relative;
}  
.first-work{
    border: 1px solid var(--tertiary-color);
    border-radius: 15px;
    position: relative;
}
.first-work:hover{
    border: 4px solid lightblue;
    box-shadow: 5px 5px rgba(221, 218, 218, 0.8);
}

.work:hover{
    border: 4px solid lightblue;
    box-shadow: 5px 5px rgba(221, 218, 218, 0.8);
}
.work-img{
    padding: 6px;
    align-self: center;
    border-radius: 15px;
    max-width: 100%;
}
.first-work img{
    padding: 32px,auto,0,auto;
    align-self: center;
}

.work-title{
    font-size: 20px;
    margin: 0;
    padding: 4px;
    position: absolute;
    bottom: 8px;
    left: 6px;
    background-color:lightblue;
    opacity: .8;
    border-radius: 0 0 0 15px ;
}

.contacts{
    display: flex;
}
.contact{
    flex: 2 70%;
    padding: 0 30px ;
    line-height: 1.2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.contact > * {
    flex: 1;
    margin: 15px;
}
.contact p, .contact address {
     margin: 20px 0;
     line-height: 1.2;
}
.contact-form input, .contact-form textarea{
    border:1px solid var(--tertiary-color);
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: var(--secondary-color);
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: rgba(221, 218, 218, 0.8);
}

.contact-form input:focus, .contact-form textarea:focus {
    background-color: rgba(255,255,255,1);
    outline: none;
}
.contact-form button{
    width: 100%;
    border: none;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
    border-radius: 10px;
}
.contact-form button:hover{
    background-color: var(--secondary-color);
}

@media screen and (max-width: 768px){
    header{
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
    header h1{
        width: 100%;
        text-align: center;
    }
    header nav li{
        margin-top:10px;
        width: 100%;
        justify-content: center;
        display: inline-block;
    }
    header nav ul li a {
        font-size: 16px;
        display: inline-block;
    }
    footer h2, footer div{
        text-align: center;
        width: 100%;
    }
    .about{
        display: flex;
        flex-direction: column;
    }
    .side, .about p{
        padding: 10px,0,10px,0;
        width: 100%;
    }
    .my-work-section{
        display: flex;
        flex-direction: column;
    }
    .works{
        flex:0 70%;
    }
    .work{
        min-width: 200px;
        
    }
    .work-img{
        min-width: none;
    }
    .contacts{
        flex-direction: column;
    }
    .contact{
        flex-direction: column;
    }

}
    
